#inventoryPane {
    -fx-background-image: url("backgroundImg/dark-wood.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button{
    -fx-background-color: #ff8a00;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: Georgia, serif;
}

.button:hover {
    -fx-background-color: linear-gradient(#ffd27f, #ff9e1a);
}

.button:pressed {
    -fx-background-color: linear-gradient(#ff8a00, #d86b00);
}

#input_TF{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: #ff8a00;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.text-field .prompt-text {
    -fx-fill: #ffffff;
}
